{% extends "dashboard/_base.html" %}

<!--Trying to apply boostrap CSS to this. Further work is needed.-->

{% block pagetitle %}Submit Data{% endblock %}

{% block pageheader %}{% endblock %}

{% block pagedescription %}

{% endblock %}

{% block content %}


{% block dataform %}
<div class="container">
    
        <div class="row">
                <div class="col-md-9">
                    <div class="panel panel-default" >
                            <div class="panel-heading"><h1>Submit Project</h1></div>
                            
                    <div class="panel-body">

                                <p>
                                    Required for each data type is a DataMatrix (tab-dilimited text file), feature as rows and samples (observations) as columns.
                                    Sample IDs need to be pre-matched in the submitted files.
                                    Feature annotation and Observation annotation are optional.
                                </p>

                            <form enctype="multipart/form-data" action="" method="post">
                                {% csrf_token %}
                                {% block formfields %}
                                <div class="row">
                                    <div class="col-sm-6">
                                            <div class="form-group"><label>Project name: </label>
                                    {{ form.project_name }}</div></div>
                                    <div class="col-sm-6">
                                            <div class="form-group"><label>User email: </label>
                                    {{ form.email }}</div></div>
                                    <input type="hidden" name="analysis_type" value="hiconet" id="id_analysis_type">
                                </div>

                                <div class="row">
                                    
                                    <div class="col-sm-6"><div class="form-group">
                                        <div class="card  border-primary">
                                            <div class="card-body text-primary">
                                            <h5 class="card-title">Data Type 1
                                                <select name="datatype_1" required id="id_datatype_1">
                                                        <option value="transcriptomics">transcriptomics</option>
                                                        <option value="metabolomics">metabolomics</option>
                                                        <option value="cells">cell populations</option>
                                                        <option value="cytokines">cytokines</option>
                                                        <option value="other">other</option>
                                                </select>
                                            </h5>

                                            <p><label for="id_transcriptomics_name">Type 1 label:</label> <input type="text" name="transcriptomics_name" required id="id_transcriptomics_name"></p>

                                            <p><label for="id_transcriptomics_data">Data matrix file:</label> <input type="file" name="transcriptomics_data" required id="id_transcriptomics_data"></p>
                                            <p><label for="id_transcriptomics_feature_annotations">Feature annotations:</label> <input type="file" name="transcriptomics_feature_annotations" id="id_transcriptomics_feature_annotations"></p>
                                            <p><label for="id_transcriptomics_observation_annotations">Observation annotations:</label> <input type="file" name="transcriptomics_observation_annotations" id="id_transcriptomics_observation_annotations"></p>

                                            
                                            </div>
                                        </div>
                                    </div></div>

                                    <div class="col-sm-6"><div class="form-group">
                                        <div class="card border-success">
                                            <div class="card-body  text-success">
                                            <h5 class="card-title">Data Type 2
                                                    <select name="datatype_2" required id="id_datatype_2">
                                                            <option value="metabolomics">metabolomics</option>
                                                            <option value="transcriptomics">transcriptomics</option>
                                                            <option value="cells">cell populations</option>
                                                            <option value="cytokines">cytokines</option>
                                                            <option value="other">other</option>
                                                    </select>
                                            </h5>

                                            <p><label for="id_metabolomics_name">Type 2 label:</label> <input type="text" name="metabolomics_name" required id="id_metabolomics_name"></p>

                                            <p><label for="id_metabolomics_data">Data matrix file:</label> <input type="file" name="metabolomics_data" required id="id_metabolomics_data"> </p>
                                            <p><label for="id_metabolomics_feature_annotations">Feature annotations:</label> <input type="file" name="metabolomics_feature_annotations" id="id_metabolomics_feature_annotations"></p>
                                            <p><label for="id_metabolomics_observation_annotations">Observation annotations:</label> <input type="file" name="metabolomics_observation_annotations" id="id_metabolomics_observation_annotations"></p>
                                            
                                            </div>
                                        </div>
                                    </div></div>
                                    
                                </div>

                                {% endblock %}
                                <div class="row">
                                        <button type="submit">Submit</button>
                                </div>

                            </form>

                    </div>
                    </div>
                </div>
                <div class="col-md-3" style="padding-top: 60px">
                    <h5>The algorithm</h5>
                    <!--- to add img max-width -->
                    <img src="/static/dashboard/hcn.png" class="img-fluid" alt="HiCoNet illustration figure">

                </div>             
        </div>
    {% endblock %}

        <div class="row">
            <h5>Rationale</h5>
                <p> HiCoNet is designed for integration of multiple data types collected from a common group of subjects.
                        Each data type is regarded as a "society".
                        HiCoNet detects "communities" within "society", then tests the association between communities across data types. 
                        This "hierarchical community network" thus provides a reasonable model of the organizational structure of measured biology.
                        More at - <a class="nav-link" href="https://github.com/shuzhao-li/hiconet">HiCoNet GitHub page.</a></p>
                    
        </div>
            
        <div class="row">
                <h5>Terminology</h5>
                        <ul>
                            <li>
                            DataMatrix: a data matrix of [continuous] values that represent a biological state or concentration, of the same data type.
                            E.g. transcriptomics (array intensity or transcript counts), metabolomics (peak intensity/area) or microbial OTU counts.
                            This can include different time points or treatments. This is the unit community detection is based on.
                            </li>
                            <li>
                                ObservationAnnotation: an observation is an experimental measurement of a biological sample. 
                                A sample may have measurement replicates. Description of biological samples should be in ObservationAnnotation, which can support inferring the study design (e.g. treatment, time points). For ImmPort data, the MySQL table `biosample` can serve as ObservationAnnotation. Time points and treatment are key annotation variables in many studies. 
                            </li>
                            <li>
                                FeatureAnnotation: meta data on features. 
                                This can be as simple as gene annotation, which can even be optional. But a feature may carry a defition of multiple parameters. E.g. a metabolite feaure may have m/z, retention time and collision cross section, and these parameters may be used for certain algorithms.
                            </li>                
                        </ul>
        </div>
        
        <div class="row">
                <h5>Example publications</h5>
                    <ul>
                        <li>
                                Li et al. (2017) Metabolic Phenotypes of Response to Vaccination in Humans. Cell 169(5): p862-877.
                        </li>
                        <li>
                                Gardinassi et al. (2018) Integrative metabolomics and transcriptomics signatures of clinical tolerance to Plasmodium vivax reveal activation of innate cell immunity and T cell signaling. Redox Biology. DOI: 10.1016/j.redox.2018.04.011
                        </li>
                        <li>
                                Li et al. (2019) Understanding mixed environmental exposures using metabolomics via a hierarchical community network model in a cohort of California women in 1960’s. Reproductive Toxicology. doi: 10.1016/j.reprotox.2019.06.013
                        </li>
                        <li>
                                Hagan et al. (2019) Antibiotics-Driven Gut Microbiome Perturbation Alters Immunity to Vaccines in Humans. Cell 178(6):1313.             
                        </li>
                    </ul>
        </div>
        
    </div>
    



<hr>
<p>
    This project was in part supported by the National Institutes of Health (NIAID UH2 AI132345).
</p>

{% endblock %}

